<!DOCTYPE html>
<html>
<head>
	<!--Header of HTML-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
	<title>Portfolio</title>
	<!--linking static files to html-->
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="shortcut icon" href="/static/images/resume.png">
</head>
<body>
	<!--landing Page-->
	<section id="head">
		<!--50% background part-->
		<div class="part1">
		    <!--Child 1: The subject I am Venkat Kamath, Child 2: Product and toggle-->	
			<div class= "padding" style="margin-left: -70vw; padding-left: 30vw;">
				<div class="text main"><span style="color: black;">I am</span><br>Venkat Kamath</div>
				<div class="text">
					<div class="title">Product </div><div class="title" id="title2" style="text-align: left;"></div>
				</div>
			</div>
			<!-- hello SVG-->
			<div class= "padding" style="padding-left: 30vw;">
				<svg class="hello" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 640 150" style="background-color: none;">
					<g transform="translate(0, 0)">
						<line x1="17" y1="0" x2="17" y2="0" stroke="#000" stroke-width="35">
							<animate dur="0.5s" begin="0.1s" attributeName="y2" 
								values="0; 100; 150" 
								keyTimes="0; 0.6; 1" 
								keySplines="1, 0, 0, 1" 
								fill="freeze"/>
						</line>
						<line x1="15" y1="74" x2="15" y2="74" stroke="#000" stroke-width="35">
							<animate dur="0.5s" begin="0.4s" attributeName="x2" 
								values="15; 70; 95" 
								keyTimes="0; 0.6; 1" 
								keySplines="1, 0, 0, 1" 
								fill="freeze"/>
						</line>
						<line x1="97" y1="0" x2="97" y2="0" stroke="#000" stroke-width="35">
							<animate dur="0.5s" begin="0.6s" attributeName="y2" 
								values="0; 100; 150" 
								keyTimes="0; 0.6; 1" 
								keySplines="1, 0, 0, 1" 
								fill="freeze"/>
						</line>


						<line x1="147" y1="0" x2="147" y2="0" stroke="#000" stroke-width="35">
							<animate dur="0.5s" begin="0.6s" attributeName="y2" 
								values="0; 100; 150" 
								keyTimes="0; 0.6; 1" 
								keySplines="1, 0, 0, 1" 
								fill="freeze"/>
						</line>
						<line x1="145" y1="17" x2="145" y2="17" stroke="#000" stroke-width="35">
							<animate dur="0.5s" begin="0.8s" attributeName="x2" 
								values="145; 200; 225" 
								keyTimes="0; 0.6; 1" 
								keySplines="1, 0, 0, 1" 
								fill="freeze"/>
						</line>
						<line x1="145" y1="74" x2="145" y2="74" stroke="#000" stroke-width="35">
							<animate dur="0.5s" begin="1s" attributeName="x2" 
								values="145; 200; 225" 
								keyTimes="0; 0.6; 1" 
								keySplines="1, 0, 0, 1" 
								fill="freeze"/>
						</line>
						<line x1="145" y1="133" x2="145" y2="133" stroke="#000" stroke-width="35">
							<animate dur="0.5s" begin="1.2s" attributeName="x2" 
								values="145; 200; 225" 
								keyTimes="0; 0.6; 1" 
								keySplines="1, 0, 0, 1" 
								fill="freeze"/>
						</line>

						<line x1="257" y1="0" x2="257" y2="0" stroke="#000" stroke-width="35">
							<animate dur="0.5s" begin="0.6s" attributeName="y2" 
								values="0; 100; 150" 
								keyTimes="0; 0.6; 1" 
								keySplines="1, 0, 0, 1" 
								fill="freeze"/>
						</line>
						<line x1="240" y1="133" x2="240" y2="133" stroke="#000" stroke-width="35">
							<animate dur="0.5s" begin="1.2" attributeName="x2" 
								values="240; 295; 320" 
								keyTimes="0; 0.6; 1" 
								keySplines="1, 0, 0, 1" 
								fill="freeze"/>
						</line>
						
						<line x1="352" y1="0" x2="352" y2="0" stroke="#000" stroke-width="35">
							<animate dur="0.5s" begin="0.6s" attributeName="y2" 
								values="0; 100; 150" 
								keyTimes="0; 0.6; 1" 
								keySplines="1, 0, 0, 1" 
								fill="freeze"/>
						</line>
						<line x1="335" y1="133" x2="335" y2="133" stroke="#000" stroke-width="35">
							<animate dur="0.5s" begin="1.2s" attributeName="x2" 
								values="335; 390; 415" 
								keyTimes="0; 0.6; 1" 
								keySplines="1, 0, 0, 1" 
								fill="freeze"/>
						</line>




						<circle class="line" cx="490" cy="75" r="57" fill= "none" stroke ="#000" stroke-width= "35" stroke-dasharray="358" stroke-dashoffset="358">
							 <animate dur="0.5s" begin="0.6s" attributeName="stroke-dashoffset" 
								values="358; 40; 0" 
								keyTimes="0; 0.6; 1" 
								keySplines="1, 0, 0, 1" 
								fill="freeze"/>

							
						</circle>


						<circle class="line" cx="600" cy="120" r="0" fill= "#000" > 
							<animate dur="0.5s" begin="1.1s" attributeName="r" 
								values="0; 20; 30" 
								keyTimes="0; 0.6; 1" 
								keySplines="1, 0, 0, 1" 
								fill="freeze"/>
							<animate dur="1s" begin="1.2s" attributeName="fill" 
								values="#000; #D0B1A7; #93401F" 
								keyTimes="0; 0.6; 1" 
								keySplines="1, 0, 0, 1" 
								repeatCount="indefinite"/>
						</circle>
					</g>
				</svg>
			</div>
		</div>
	</section>

	<!-- Nav bar -->
	<div class="navBar" id="nav">
		<a class="tab lasttab" href="#about" onclick="active(this, 'about')">About</a>
		<a class="tab" href="#blog" onclick="active(this, 'blog')">Blog</a>
		<a class="tab">Projects &amp; Skills</a>
		<a class="tab" href="#reach-out" onclick="active(this, 'reach-out')">Reach-out</a> 

		<a class="tab">Travel</a>
	</div>

	<div class="back">
		<div class="list" id="songList">
			<p id="song-text"> Now Playing</p>
			<div class="playlist">
				<div class="row">
					<p onclick="setSong(0); play();">Are you gonna be my girl-Jet</p>
					<div class="pointer">
						<div class="other" id="song_0"></div>
					</div>
				</div>
				<div class="row">
					<p onclick="setSong(1); play();">Adventure of a lifetime-Coldplay</p>
					<div class="pointer">
						<div class="other" id="song_1"></div>
					</div>
				</div>
				<div class="row">
					<p onclick="setSong(2); play();">Cocaina-Clandestina</p> 
					<div class="pointer">
						<div class="other" id="song_2"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="round">
			<button class="play" onclick="play()" id="playButton"></button>
		</div>
	</div>

	<!-- Main section of the website, holds navigation container-->
	<section id="main">
			<section id="about" class="hide">
				<div class="timeline">
					<div class="container left">
						<div class="content">
							<h2>2020</h2>
							<div class="picture">
								<img class="content-image" src="./static/timeline/2010.jpg">
								<div class="overlay">
									<h3>Personal</h3>
									<ul>
										<li>Graduated from <b>Jawaharlal Nehru Technological Univerisity, India</b> with a Bachelors Degree in <b>Information Technology.</b></li>
										<li>Migrated to the <b>United States</b> with a lot of dreams and aspirations.</li>
									</ul>
									<h3>Professional</h3>
									<ul>
										<li>Joined <b>Federal Trade commission, Washington DC</b> as a <b>UI Engineer/Analyst.</b></li>
										<li> Worked on enhancing <b>FTC's</b> Intranet site. </li>
										<li> Held Requirements session with stake holders to understand product needs and gaps.</li>

									</ul>
								</div>
							</div>
							<h2>&nbsp;</h2>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>2019</h2>
							<div class="picture">
								<img class="content-image" src="./static/timeline/2010.jpg">
								<div class="overlay">
									<h3>Personal</h3>
									<ul>
										<li>Graduated from <b>Jawaharlal Nehru Technological Univerisity, India</b> with a Bachelors Degree in <b>Information Technology.</b></li>
										<li>Migrated to the <b>United States</b> with a lot of dreams and aspirations.</li>
									</ul>
									<h3>Professional</h3>
									<ul>
										<li>Joined <b>Federal Trade commission, Washington DC</b> as a <b>UI Engineer/Analyst.</b></li>
										<li> Worked on enhancing <b>FTC's</b> Intranet site. </li>
										<li> Held Requirements session with stake holders to understand product needs and gaps.</li>
									</ul>
								</div>
							</div>
							<h2>&nbsp;</h2>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>2018</h2>
							<div class="picture">
								<img class="content-image" src="./static/timeline/2010.jpg">
								<div class="overlay">
									<h3>Personal</h3>
									<ul>
										<li>Graduated from <b>Jawaharlal Nehru Technological Univerisity, India</b> with a Bachelors Degree in <b>Information Technology.</b></li>
										<li>Migrated to the <b>United States</b> with a lot of dreams and aspirations.</li>
									</ul>
									<h3>Professional</h3>
									<ul>
										<li>Joined <b>Federal Trade commission, Washington DC</b> as a <b>UI Engineer/Analyst.</b></li>
										<li> Worked on enhancing <b>FTC's</b> Intranet site. </li>
										<li> Held Requirements session with stake holders to understand product needs and gaps.</li>

									</ul>
								</div>
							</div>
							<h2>&nbsp;</h2>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>2017</h2>
							<div class="picture">
								<img class="content-image" src="./static/timeline/2010.jpg">
								<div class="overlay">
									<h3>Personal</h3>
									<ul>
										<li>Graduated from <b>Jawaharlal Nehru Technological Univerisity, India</b> with a Bachelors Degree in <b>Information Technology.</b></li>
										<li>Migrated to the <b>United States</b> with a lot of dreams and aspirations.</li>
									</ul>
									<h3>Professional</h3>
									<ul>
										<li>Joined <b>Federal Trade commission, Washington DC</b> as a <b>UI Engineer/Analyst.</b></li>
										<li> Worked on enhancing <b>FTC's</b> Intranet site. </li>
										<li> Held Requirements session with stake holders to understand product needs and gaps.</li>

									</ul>
								</div>
							</div>
							<h2>&nbsp;</h2>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>2016</h2>
							<div class="picture">
								<img class="content-image" src="./static/timeline/2010.jpg">
								<div class="overlay">
									<h3>Personal</h3>
									<ul>
										<li>Graduated from <b>Jawaharlal Nehru Technological Univerisity, India</b> with a Bachelors Degree in <b>Information Technology.</b></li>
										<li>Migrated to the <b>United States</b> with a lot of dreams and aspirations.</li>
									</ul>
									<h3>Professional</h3>
									<ul>
										<li>Joined <b>Federal Trade commission, Washington DC</b> as a <b>UI Engineer/Analyst.</b></li>
										<li> Worked on enhancing <b>FTC's</b> Intranet site. </li>
										<li> Held Requirements session with stake holders to understand product needs and gaps.</li>

									</ul>
								</div>
							</div>
							<h2>&nbsp;</h2>
						</div>
					</div>

					<div class="container right">
						<div class="content">
							<h2>2015</h2>
							<div class="picture">
								<img class="content-image" src="./static/timeline/2010.jpg">
								<div class="overlay">
									<h2>Professional</h2>
									<ul>
									</ul>
								</div>
							</div>
							<h2>&nbsp;</h2>
						</div>
					</div>

					<div class="container left">
						<div class="content">
							<h2>2014</h2>
							<div class="picture">
								<img class="content-image" src="./static/timeline/2014.jpg">
								<div class="overlay">
									<h2>Professional</h2>
									<ul>
									</ul>
								</div>
							</div>
							<h2>&nbsp;</h2>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>2013</h2>
							<div class="picture">
								<img class="content-image" src="./static/timeline/2013.jpg">
								<div class="overlay">
										<h3>Professional</h3>
									<ul>
										<li> Joined <b>JPMorgan Chase &amp; Co.</b> as a Senior Business Systems Analyst.</li>
										<li> Worked on <b>Abinitio Metadata hub</b>, an enterprise metadata management Product. </li>
										<li> Built Product feature</li>
									</ul>
								</div>
							</div>
							<h2>&nbsp;</h2>
						</div>
					</div>
					<!--<div class="container left">
						<div class="content">
							<h2>2012</h2>
							<div class="picture">
								<img class="content-image" src="./static/timeline/2012.jpg">
								<div class="overlay">
									<ul>
									</ul>
								</div>
							</div>
							<h2>&nbsp;</h2>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>2011</h2>
							<div class="picture">
								<img class="content-image" src="./static/timeline/2011.jpg">
								<div class="overlay">
									<ul>
									</ul>
								</div>
							</div>
							<h2>&nbsp;</h2>
						</div>
					</div>-->
					<div class="container left">
						<div class="content">
							<h2>2010</h2>
							<div class="picture">
								<img class="content-image" src="./static/timeline/2010.jpg">
								<div class="overlay">
									<h3>Personal</h3>
									<ul>
										<li>Graduated from <b>Jawaharlal Nehru Technological Univerisity, India</b> with a Bachelors Degree in <b>Information Technology.</b></li>
										<li>Migrated to the <b>United States</b> with a lot of dreams and aspirations.</li>
									</ul>
									<h3>Professional</h3>
									<ul>
										<li>Joined <b>Federal Trade commission, Washington DC</b> as a <b>UI Engineer/Analyst.</b></li>
										<li> Worked on enhancing <b>FTC's</b> Intranet site. </li>
										<li> Held Requirements session with stake holders to understand product needs and gaps.</li>

									</ul>
								</div>
							</div>
							<h2>&nbsp;</h2>
						</div>
					</div>
				</div></section>
			<section id="blog"  class="hide">
				{% for i in range(len_blogs) %}
					<a class="article" href="{{blogs[i]['url']}}" target="_blank">
						<div>
							<h2>{{blogs[i]['head']}}</h2>
							<p>{{blogs[i]['para']}}</p>
							<small class="author">{{blogs[i]['author']}}</small><br>
							<p><small class="date">{{blogs[i]['date']}}</small>  <small>{{blogs[i]['time']}} mins read</small></p>
						</div>
						<div class="vertical-center">
							{% if blogs[i]['image'] == '' %}
						        <img src="/static/images/blog.jpg">
						    {% else %}
						    	<img src="{{blogs[i]['image']}}">
						    {% endif %}
						</div>
					</a>
				{% endfor %}
			</section>
			<section id="reach-out" class="hide" style="padding: 0;">
				<div class="wrapper">
					<div class="background"></div>
					<div class="vertical-center">
						<a class="contact-card" style="background-image: url('/static/images/git.png');"></a>
					</div>
					<div class="vertical-center">
						<div class="contact-card" style="background-image: url('/static/images/gmail.webp');"></div>
					</div>
					<div class="vertical-center">
						<div class="contact-card" style="background-image: url('/static/images/linkedin.png');"></div>
					</div>
				</div>
			</section>
	</section>
	
	<script type="text/javascript" src= "static/js/index.js"></script>
</body>

