<!DOCTYPE html>
<html>
<head>
	<!--Header of HTML-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Portfolio</title>
	<!--linking static files to html-->
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="shortcut icon" href="static/resume.png">
</head>
<body>
	<!--landing Page-->
	<section id="head">
		<!--50% background part-->
		<div class="part1">
		    <!--Child 1: The subject I am Venkat Kamath, Child 2: Product and toggle-->	
			<div class= "padding" style="margin-left: -70vw; padding-left: 30vw;">
				<div class="text main"><span style="color: black;">I am</span><br>Venkat Kamath</div>
				<div class="text">
					<div class="title">Product </div><div class="title" id="title2" style="text-align: left;"></div>
				</div>
			</div>
			<!-- hello SVG-->
			<div class= "padding" style="padding-left: 30vw;">
				<img class="hello" src="static/hello.svg"/>
			</div>
		</div>
	</section>
	<!-- Nav bar -->
	<div class="navBar" id="nav" onclick="show('main')">
		<div class="tab" onclick="active(this)"><a href="#about" >About.</a></div>
		<div class="tab">Blog.</div>
		<div class="tab">Experience.</div>
		<div class="tab">Projects.</div>
		<div class="tab">Reach-out.</div>
		<div class="tab">Skills.</div>
		<div class="tab">Travel.</div>

	</div>
	<!-- MAin section of the website, holds navigation container-->
	<section id="main">
		<section id="about">
			SD<br>
			FDS<br>
			SD<br>
			FDS<br>SD<br>
			FDS<br>vSD<br>
			FDS<br>SD<br>
			FDS<br>vSD<br>
			FDS<br>SD<br>
			FDS<br>SD<br>
			FDS<br>vvvvSD<br>
			FDS<br>vvvvSD<br>
			FDS<br>SD<br>
			FDS<br>SD<br>
			FDS<br>SD<br>
			FDS<br>SD<br>
			FDS<br>SD<br>
			FDS<br>SD<br>
			FDS<br>SD<br>
			FDS<br>SD<br>
			FDS<br>SD<br>
			FDS<br>SD<br>
			FDS<br>SD<br>
			FDS<br>
		</section>
	</section>
	<script type="text/javascript" src= "static/index.js"></script>
</body>